body,html{
margin: 0px;
height: 100%;
background-image: url(cover.jpg);
background-size: cover;
background-position: center;
background-repeat: no-repeat;
}
header{
margin: 0px;
text-align: center;

height: 100%;
	}

.fat,.call{
	margin-top: 20px;
	font-family: 'Charm', cursive;
	font-size: 3em;
	color:red;
	background-color: rgba(0,0,0,0.5);

}

.call{
	margin-top: 0px;
	color: #eeeeee;
}

.btn-outline-primary{
  background-color: rgba(255, 87, 51,0.8);
  color:#eeeeee;
  border-color: #F05F44;
  margin-top: 300px;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5em;
   }

